@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap");

html {
  background-color: #edf2f7;
  box-sizing: border-box;
}

* {
  font-family: "Karla", sans-serif;
}

body {
  background: transparent;
  min-height: 100vh;
}

.active__sidebar {
  background-color: var(--chakra-colors-gray-200);
  border-radius: var(--chakra-radii-lg);
  font-weight: 600;
}

.readmoreless {
  color: var(--chakra-colors-gray-500);
  margin-left: 2px;
}

.readmoreless:hover {
  text-decoration: underline;
}

.chakra-collapse {
  overflow: visible !important;
}

*:focus {
  box-shadow: none !important;
}

/* React Autosuggest Styles */

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__suggestions-container {
  display: none;
  max-height: 300px;
  overflow-y: auto;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.highlight {
  font-weight: bold;
}

/* Sidebar CSS */

.sidebar-parent .pro-sidebar {
  width: 100%;
  min-width: 100%;
}

.sidebar-parent .pro-sidebar.collapsed {
  width: 80px;
  min-width: 80px;
}

.sidebar-parent .pro-sidebar-inner {
  background-color: white;
  box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
}
.sidebar-parent .pro-sidebar-inner .pro-sidebar-layout {
  overflow-y: hidden;
}

.sidebar-parent .pro-sidebar-inner .pro-sidebar-layout ul {
  padding: 0 5px;
}
.sidebar-parent .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
  color: #1d1d1d;
  margin: 10px 0px;
  font-weight: bold;
}
.sidebar-parent
  .pro-sidebar-inner
  .pro-sidebar-layout
  ul
  .pro-inner-item
  .pro-icon-wrapper {
  background-color: #fff !important;
  color: #1d1d1d;
  border-radius: 3px;
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.25);
}

.sidebar-parent
  .pro-sidebar-inner
  .pro-sidebar-layout
  ul
  .pro-inner-item
  .pro-icon-wrapper
  .pro-item-content {
  color: #1d1d1d;
}
.sidebar-parent .pro-sidebar-inner .pro-sidebar-layout .active {
  background-color: rgb(235, 235, 235);
  border-left: 5px solid #2ff8bc;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item:hover {
  color: #000;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item:focus {
  outline: none;
  color: #000;
}
